                  Working Area Notebooks
################################################################################
################################################################################
6-22-brl1906-scrap-testing-notebook.ipynb
meeting-outline.ipynb

################################################################################
################################################################################
                  Storage Items & Checkpoints
################################################################################
################################################################################
.DS_Store
.ipynb_checkpoints
*.pyc

################################################################################
################################################################################
                  Virtual Environment
################################################################################
################################################################################
fellowship-venv
